<div *ngFor="let macbook of macbooks">
  <div *ngFor="let options of macbook | keyvalue">
    <container-element [ngSwitch]="options.key">
      <div *ngSwitchCase="'color'">
        <div class="photo" *ngIf="color === 'darkgray'">
          <img class="photo" src="{{ $any(options.value[0]).photo }}" alt="{{ $any(options.value[0]).color | titlecase }}" />
        </div>
        <div class="photo" *ngIf="color === 'silver'">
          <img src="{{ $any(options.value[1]).photo }}" alt="{{ $any(options.value[1]).color | titlecase }}" />
        </div>
      </div>
      <div *ngSwitchCase="'name'">
        <div *ngFor="let priceable of options.value">
          <h1 class="name">{{ priceable.value }}</h1>
        </div>
      </div>
      <div *ngSwitchDefault></div>
    </container-element>
  </div>
  <div *ngFor="let options of macbook | keyvalue">
    <container-element [ngSwitch]="options.key">
      <div *ngSwitchCase="'color'">
        <mat-radio-group class="option">
          <div *ngFor="let colorable of options.value">
            <mat-radio-button [value]="colorable.value" [class]="$any(colorable).color" [(ngModel)]="color" [checked]="color === colorable.value">{{ $any(colorable).color | titlecase }}</mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
      <div *ngSwitchCase="'chip'">
      </div>
      <div *ngSwitchCase="'memory'">
      </div>
      <div *ngSwitchCase="'storage'">
      </div>
      <div *ngSwitchDefault></div>
    </container-element>
  </div>
</div>
